//字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap'); 

@import "../../node_modules/bootstrap/scss/bootstrap";// bs5樣式表

form{
    .form-select{
        font-size: 12px;
        text-align: center;
    }

    
}
.list-group-item{
    p{
        font-size: 14px;
    }
}

//自訂
// @import "./mixin";//自訂套件
// @import "main";//自訂內容